<h1>Editing Offer Import</h1>

<%= render 'form' %>

<%= link_to 'Show', [@offer_import.compare.site,@offer_import]%> |
<%= link_to 'Back', site_offer_imports_path( :compare=> @offer_import.compare_id) %>
